<mat-toolbar color="primary" class="mat-elevation-z6" class="navbar">
    <span> <mat-icon>home</mat-icon>Bank Application</span> 
  
  
        <div class="spacer"></div>
  
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/createacc">Create Account</a>
    <!-- <a mat-button routerLink="/withdraw">With Draw</a> -->
   
    <a mat-button routerLink="/userdetails">User Details</a>
    <a mat-button routerLink="/login">Logout</a>
    <a mat-button routerLink="/deposite">About</a>
    
    
  </mat-toolbar>
<router-outlet></router-outlet>