<app-navbar></app-navbar>
<body>
<h1>About Banking</h1>
<p>This project work Design and Implementation of computerized banking system is concerned with the analysis and design of a computerized system aimed at supporting the banking operation provides an interface which enables the admin to create user, update user details, view user details and delete user. It will also provide the basis for the implementation of computerized banking operations.</p>
<p>A development which made most banks and other financial institutions more responsive to changes and imperative to adopt the latest art of technology is for the purpose of maintaining operational efficiency as a means of warding off competitive threat, and also to improve on the security measures, checkmate fraud and error, to increase the speed of operation and improvement of admin's convenience by reducing barriers to entry into banking systems.</p>
<h2>A core banking system is the software used to support a bank’s most common transactions.</h2>
<h3>Elements of core banking include:</h3>
<ul>
<li>Making and servicing loans.</li>
<li>Opening new accounts.</li>
<li>Processing cash deposits and withdrawals.</li>
<li>Processing payments and cheques.</li>
<li>Calculating interest.</li>
<li>Customer relationship management (CRM) activities.</li>
<li>Managing customer accounts.</li>
<li>Establishing criteria for minimum balances, interest rates, number of withdrawals allowed and so on.</li>
<li>Establishing interest rates.</li>
<li>Maintaining records for all the bank’s transactions.</li>
</ul>
<!-- <h3>Step One:</h3>
<p>Deposit: Clients can deposit the amount through the below procedure into our bank account.</p>


<h3>Step Two:</h3>
<p>Confirm the deposit: After deposit or transfer the amount into our bank account, please kindly keep the pay slip and fax it to our settlement department (Fax number is +852 2521 0955). Please be reminded to write down your account name and account number on the slip before fax to us.</p>

<h3>Step Three:</h3>
<p>Receive daily statement: Confirmed the payment received, we will update the transaction in your daily statement with the corresponding day and time. If you don’t receive the daily statement or can’t find the deposit transaction, please kindly contact your sales representative or our customer service department as soon as possible.</p>
<h1>Deposit Channels:</h1>
<h3>1.ATM (Automatic Teller Machine);</h3>
<h3>2.Cheque Deposit;</h3>
<h3>3.Phone Banking;</h3>
<h3>4.Cheque Drop-In Box;</h3>
<h3>5.Internet Banking;</h3>
<h3>6.Cash Deposit Machine;</h3>

<h2>Dont Share your personal crecdential with others!!</h2> -->








<!-- <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
  
  <div class="form-field">
  <input type="accountnumber" placeholder="Account number" name="accountnumber" ngModel/>
  </div>
  
  <div class="form-field">
  <input type="balance" placeholder="Amount" name="balance" ngModel/>
 </div>
  
  <div class="form-field">
  <button class="btn" type="submit">submit </button>
  </div>
  </form> -->
  
  </body>
 
 

